name: CI

on:
  push:
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        version: [24]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.version }}
      - run: npm install
      - run: npm test
